@import "tailwindcss";

:root {
  --background: #E5E7FF;
  --foreground: #5758A6;
  --primary: #5758A6;
  --primary-light: #BDB4F1;
  --secondary: #B5E1BE;
  --accent: #BDB4F1;
  --neutral: #FDFDFD;
  --neutral-light: #F3F5F7;
  --font-heading: 'Poppins', 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-body: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Fira Mono', Menlo, Monaco, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5758A6;
    --foreground: #FDFDFD;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.7;
}
