@import "tailwindcss";

@theme {
  /* Brand colors make bg-brand-*, text-brand-* utilities available */
  --color-brand-text: #0e180b;
  --color-brand-text-secondary: #4a5565;
  --color-brand-bg: #F7FCF5;
  --color-brand-primary: #beb5f2;
  --color-brand-secondary: #9eccaf;
  --color-brand-accent: #5859a7;
  --color-brand-hero: #4b0082;
  /* Fonts */
  --font-heading: "Lato", sans-serif;
  --font-body: "Lato", sans-serif;
  
  /* Typography Scale */
  --text-hero-mobile: 2.25rem; /* 36px - text-4xl */
  --text-hero-desktop: 4.5rem; /* 72px - text-7xl */
  --text-subheading-mobile: 1.5rem; /* 24px - text-2xl */
  --text-subheading-desktop: 2.25rem; /* 36px - text-4xl */
  --text-highlight-mobile: 2.25rem; /* 36px - text-4xl */
  --text-highlight-desktop: 3rem; /* 48px - text-5xl */
  --text-scene-heading-desktop: 1.25rem; /* 20px - text-xl */
  --text-scene-heading-mobile: 1.5rem; /* 24px - text-2xl */
  --text-scene-desc-desktop: 1rem; /* 16px - text-base */
  --text-scene-desc-mobile: 1.125rem; /* 18px - text-lg */
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.7;
  }
}

.section-spacing {
  @apply mb-48;
}
